<h2>Auction</h2>
<div *ngIf="isAdmin">
    <div *ngIf="!auction">
        <div>
            <label for="new-product">Product Name: </label>
            <input id="new-product" placeholder="Enter the product to auction" #productName />
        </div>
        <div>
            <label for="product-qty">Product Quantity: </label>
            <input type="number" id="product-qty" step="1" min="0" placeholder="Enter the product count" #productCount />
        </div>
        <div>
            <label for="starting-bid">Starting Bid: </label>
            <input type="number" id="starting-bid" step="0.01" placeholder="Set the starting bid" #startingBid />
        </div>
        <div>
            <label for="end-time">End Time: </label>
            <input id="end-time" placeholder="YYYY,MM,DD,HH,mm,ss" #endTime />
        </div>
        

  
        <!-- (click) passes input value to add() and then clears the input -->
        <button type="button" class="add-button" (click)="add(productName.value, productCount.valueAsNumber, startingBid.valueAsNumber, endTime.value); productName.value=''">
            New Auction
        </button>
    </div>
    <!-- <div *ngIf="auction">
        <div>
        <label for="product-name">Product name: </label>
        <input id="product-name" [(ngModel)]="auction.product.name" placeholder="name">
        </div>
        <div>
            <label for="product-quantity">Number Included: </label>
            <input id="product-quantity" [(ngModel)]="auction.product.quantity" placeholder="quantity">
        </div>
        <div>
            <label for="current-bid">Current Bid: </label>
            <input id="current-bid" [(ngModel)]="auction.maxBid.bid" placeholder="currentBid">
        </div>
        <div>
            <label for="expiration-time">Expiration Time: </label>
            <input id="expiration-time" [(ngModel)]="auction.endTime" placeholder="endTime">
        </div>
    </div> -->
    <div *ngIf="auction">
        <div>
            <span>Product Name: </span>{{auction.product.name}}
        </div>
        <div>
            <span>Number Included: </span>{{auction.product.quantity}}
        </div>
        <div>
            <span>Current Bid: </span>{{auction.maxBid.bid}}
        </div>
        <div>
            <span>Current Leading Bidder: </span>{{auction.maxBid.user}}
        </div>
        <div>
            <span>Expiration Time: </span><app-countdown-timer [targetYear]="targetYear" [targetMonth]="targetMonth" [targetDay]="targetDay" [targetHours]="targetHours" [targetMinutes]="targetMinutes" [targetSeconds]="targetSeconds"></app-countdown-timer>

        </div>
    </div>
</div>
<div *ngIf="!isAdmin">
    <div *ngIf="auction">
        <div>
            <span>Product Name: </span>{{auction.product.name}}
        </div>
        <div>
            <span>Number Included: </span>{{auction.product.quantity}}
        </div>
        <div>
            <span>Current Bid: </span>{{auction.maxBid.bid}}
        </div>
        <div>
            <span>Current Leading Bidder: </span>{{auction.maxBid.user}}
        </div>
        <div>
            <span>Expiration Time: </span><app-countdown-timer [targetYear]="targetYear" [targetMonth]="targetMonth" [targetDay]="targetDay" [targetHours]="targetHours" [targetMinutes]="targetMinutes" [targetSeconds]="targetSeconds"></app-countdown-timer>
        </div>
        <div *ngIf="!isOver">
            <div>
                <input type="number" id="bidAmount" step="0.01" min="{{auction.maxBid.bid+0.01}}" placeholder="Bid at least {{auction.maxBid.bid+0.01}}" #bidAmount />
            </div>
            <div>
                <input id="email" placeholder="Enter your email for alerts!" #bidAmount />
            </div>
            <button type="button" class="place bid" title="place bid" [disabled]="isOver"
            (click)="placeBid(bidAmount.valueAsNumber);">Place Bid</button>
        </div>
    </div>
    <div *ngIf="!auction">
        There is no auction at this time
    </div>
</div>

<!-- <button *ngIf="isAdmin&&auction"  type="button" (click)="save()">save</button> -->
<button *ngIf="isAdmin&&auction"  type="button" (click)="delete()">delete</button>