<h2>Auction</h2>
<div *ngIf="isAdmin">
    <div *ngIf="!auction">
        <label for="new-product">Product name: </label>
        <input id="new-product" #productName />
  
        <!-- (click) passes input value to add() and then clears the input -->
        <button type="button" class="add-button" (click)="add(productName.value); productName.value=''">
            New Auction
        </button>
    </div>
    <div *ngIf="auction">
        <div>
        <label for="product-name">Product name: </label>
        <input id="product-name" [(ngModel)]="auction.product.name" placeholder="name">
        </div>
        <div>
            <label for="product-quantity">Number Included: </label>
            <input id="product-quantity" [(ngModel)]="auction.product.quantity" placeholder="quantity">
        </div>
        <div>
            <label for="current-bid">Current Bid: </label>
            <input id="current-bid" [(ngModel)]="auction.maxBid.bid" placeholder="currentBid">
        </div>
        <div>
            <label for="expiration-time">Expiration Time: </label>
            <input id="expiration-time" [(ngModel)]="auction.endTime" placeholder="endTime">
        </div>
    </div>
</div>
<div *ngIf="!isAdmin">
    <div *ngIf="auction">
        <div>
            <span>Product Name: </span>{{auction.product.name}}
        </div>
        <div>
            <span>Number Included: </span>{{auction.quantity}}
        </div>
        <div>
            <span>Current Bid: </span>{{auction.maxBid}}
        </div>
        <div>
            <span>Expiration Time: </span>{{auction.endTime}}
        </div>
    </div>
    <div *ngIf="!auction">
        There is no auction at this time
    </div>
</div>

<button *ngIf="isAdmin&&auction"  type="button" (click)="save()">save</button>