<h2>Auction</h2>
<div *ngIf="isAdmin">
    <div *ngIf="!auction">
        <div>
            <label for="new-product">Product Name: </label>
            <input id="new-product" placeholder="Enter the product to auction" #productName />
        </div>
        <div>
            <label for="product-qty">Product Quantity: </label>
            <input type="number" id="product-qty" step="1" min="0" placeholder="Enter the product count" #productCount />
        </div>
        <div>
            <label for="image-product">Product Image (web urls only): </label>
            <input id="image-product" placeholder="Enter the image URL from Web to auction" #productImage />
        </div>
        <div>
            <label for="starting-bid">Starting Bid: </label>
            <input type="number" id="starting-bid" step="0.01" placeholder="Set the starting bid" #startingBid />
        </div>
        <div>
            <label for="end-time">End Time: </label>
            <input id="end-time" placeholder="YYYY,MM,DD,HH,mm,ss" #endTime />
        </div>
        

  
        <!-- (click) passes input value to add() and then clears the input -->
        <button type="button" class="add-button" (click)="add(productName.value, productImage.value, productCount.valueAsNumber, startingBid.valueAsNumber, endTime.value); productName.value=''">
            New Auction
        </button>
    </div>
    <div *ngIf="auction">
        <div>
            <span>Product Name: </span>{{auction.product.name}}
        </div>
        <div>
            <span>Number Included: </span>{{auction.product.quantity}}
        </div>
        <div>
            <span>Current Bid: </span>{{auction.maxBid.bid}}
        </div>
        <div>
            <span> <img src="{{auction.product.image}}"> </span>
        </div>
        <div>
            <span>Current Leading Bidder: </span>{{auction.maxBid.user}}
        </div>
        <div>
            <span>Expiration Time: </span><app-countdown-timer [targetYear]="targetYear" [targetMonth]="targetMonth" [targetDay]="targetDay" [targetHours]="targetHours" [targetMinutes]="targetMinutes" [targetSeconds]="targetSeconds"></app-countdown-timer>

        </div>
    </div>
</div>

<!-- <button *ngIf="isAdmin&&auction"  type="button" (click)="save()">save</button> -->
<button *ngIf="isAdmin&&auction"  type="button" (click)="delete()">delete</button>

<div *ngIf="!isAdmin&&auction" class="product-container">
    <div class="product-image">
      <img [src]="auction.product.image" alt="{{ auction.product.name }}">
    </div>
    <div class="product-info">
      <h1>{{ auction.product.name }}</h1>
      <p class="price">Current Bid: {{ auction.maxBid.bid | currency }}</p>
      <p class="user">Current Bid Leader: {{ auction.maxBid.user }}</p>
      <p class="quantity">Quantity: {{ auction.product.quantity}}</p>
      <p class="date" *ngIf="!isOver">Time left: <app-countdown-timer [targetYear]="targetYear" [targetMonth]="targetMonth" [targetDay]="targetDay" [targetHours]="targetHours" [targetMinutes]="targetMinutes" [targetSeconds]="targetSeconds"></app-countdown-timer></p>
      <p class="winner" *ngIf="isOver">AUCTION OVER: WINNER IS {{auction.maxBid.user | uppercase}}</p>
    </div>
      <div *ngIf="!isOver">
        <div>
            <input type="number" id="bidAmount" min="{{auction.maxBid.bid+1}}" placeholder="Bid at least {{auction.maxBid.bid+1}}" #bidAmount />
        </div>
        <div>
            <input id="email" placeholder="Enter your email for alerts!" #bidAmount />
        </div>
        <button type="button" class="place bid" title="place bid" [disabled]="isOver"
        (click)="placeBid(bidAmount.valueAsNumber);">Place Bid</button>
    </div>       
  </div>
  <div *ngIf="!auction" class="product-container">
    <p class="message">No Auction at current time. Come back later! Gooooo Tigers!!!</p>
  </div>