<title>RIT GARAGE SALE</title>
<h1>
    <div class="text">
        <img class="img" src="https://www.rit.edu/brandportal/sites/rit.edu.brandportal/files/inline-images/3-color-white.png">
        {{title}}
    </div>
</h1>
<nav>
    <div *ngIf="currentUser">
    <a routerLink="/dashboard">Auction</a> 
    <a routerLink="/products">Products</a>
    <a routerLink="/login">Account</a>
    <a *ngIf="!isAdmin" routerLink="/cart">Cart</a>
    </div>
</nav>
<router-outlet></router-outlet>
<app-messages *ngIf="isAdmin"></app-messages>