<title>RIT GARAGE SALE</title>
<h1>
    <div class="text">
        <img class="img" src="https://www.rit.edu/brandportal/sites/rit.edu.brandportal/files/inline-images/3-color-white.png">
        {{title}}
    </div>
</h1>
<nav>
    <div *ngIf="currentUser">
    <a routerLink="/dashboard">Auction</a> 
    <a routerLink="/products">Products</a>
    <a routerLink="/login">Account</a>
    <a *ngIf="!isAdmin" routerLink="/cart">Cart</a>
    </div>
</nav>
<router-outlet></router-outlet>
<app-messages *ngIf="isAdmin"></app-messages>

<section id="info_section" class="info_section  layout_padding2-top">
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              ABOUT US
            </h6>
            <p>
              After the financial collapse of 2023 and gross mishandling of government funds by [REDACTED], RIT is in desperate need of MONEY! For the sake of the community, our gracious President Munson has offered to sell various pieces of RIT memorabilia. Any contribution helps to get those tax payers off our backs! Please, we're desperate.
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              NEED HELP
            </h6>
            <p>
              Yes! We desperately do need help! We are serious about this, the tax payers are at our doors right now and if you don't buy 5 Sentinels right now we are going to be GONE.            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              CONTACT US
            </h6>
            <div class="info_link-box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> 1 Lomb Memorial Dr, Rochester, NY 14623 </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>585-475-2394</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> munson@rit.edu</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <footer class=" footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
    </footer>
    <!-- footer section -->

  </section>