/* AppComponent's private CSS styles */
h1 {
  background: linear-gradient(0deg, #231C1C 0%, #404040 100%);
  margin-bottom: 5px;
  color: #F76902;
  filter: drop-shadow(1px 1px 1px #000);
  transform: skew(-14deg, 0deg);
}
.text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
  padding: 10px;
  line-height: 100px;
  text-align: center;
}
h1 img {
  max-height: 100px;
  filter: drop-shadow(1px 1px 1px #000);
}
nav a {
    align-items:center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 25%;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a:active {
  background-color: black;
}