<!DOCTYPE html>
<html>
  <body>
    <div class="shopping-cart" >
      <!-- Title -->
      <div class="title">
        Shopping Bag
      </div>
      
      <div class="item" *ngFor="let product of products | keyvalue">

        <div class="buttons">
          <span class="delete-btn" (click)="remove(product.value)" ></span>
        </div>

        <img class="prodImage" src="{{product.value.image}}" alt="" />

        <div class="description">
          <a routerLink="/detail/{{product.key}}">
            <span class="badge">{{product.value.name}}</span>
          </a>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button" (click)="add(product.value)"></button>
            <span class="q-input">{{product.value.quantity}}</span>
          <button class="minus-btn" type="button" name="button" (click)="decrease(product.value)"></button>
        </div>

        <div class="total-price">${{product.value.price}}</div>
      </div>

    </div>
  </body>

  <button type="button" (click)="goBack()">go back</button>
  <button type="button" routerLink="/checkout">Proceed to Checkout</button>

</html>
