/* ProductDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  /* The alert message box */
.alert {
  padding: 20px;
  background-color: green;
  color: white;
  margin-bottom: 15px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
  animation: alert 2.5s linear forwards;
  -webkit-animation: alert 2.5s linear forwards;
}

@-webkit-keyframes alert {
  50% {opacity: 1;}
}


@keyframes alert {
  50% {opacity: 1;}
} 

.alert {
  -webkit-animation-name: alert;
  animation-name: alert;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}