<div *ngIf="product">

    <h2>{{product.name | uppercase}} Details</h2>
    <div><span>id: </span>{{product.id}}</div>
    <div>
      <label for="product-name">Product name: </label>
      <input id="product-name" [(ngModel)]="product.name" placeholder="name">
    </div>
    <div>
        <label for="product-price">Product price: </label>
        <input id="product-price" [(ngModel)]="product.price" placeholder="price">
    </div>
    <div>
        <label for="product-quantity">Product quantity: </label>
        <input id="product-quantity" [(ngModel)]="product.quantity" placeholder="quantity">
    </div>
  
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button *ngIf="isAdmin" type="button" (click)="save()">save</button>