<section>
<div *ngIf="product">

    <h2>{{product.name | uppercase}} Details</h2>
    <div *ngIf="isAdmin"><span>id: </span>{{product.id}}</div>
    <div *ngIf="!isAdmin"> 
        <div class="product-container">
            <div class="product-image">
              <img [src]="product.image" alt="{{ product.name }}">
            </div>
            <div class="product-info">
              <h1>{{ product.name }}</h1>
              <p class="price">Price: {{ product.price | currency }}</p>
              <p class="quantity">Quantity: {{ product.quantity}}</p>
              <button *ngIf="!isAdmin" [disabled]="disabledButton" type="button" class="add" title="add to cart"
              (click)="addToCart(product)">add to cart</button>
              </div>            </div>
          </div>
    </div>
    <div *ngIf="isAdmin">
        <div>
        <label for="product-name">Product name: </label>
        <input id="product-name" [(ngModel)]="product.name" placeholder="name">
        </div>
        <div>
            <label for="product-price">Product price: </label>
            <input id="product-price" [(ngModel)]="product.price" placeholder="price">
        </div>
        <div>
            <label for="product-quantity">Product quantity: </label>
            <input id="product-quantity" [(ngModel)]="product.quantity" placeholder="quantity">
        </div>
        <div>
            <label for="product-image">Product image (web link only): </label>
            <input id="product-image" [(ngModel)]="product.image" placeholder="image">
        </div>
    </div>

    <button type="button" (click)="goBack()">go back</button>

    <button *ngIf="isAdmin" routerLink="/products" type="button" class="delete" title="delete product"
    (click)="delete(product)">Delete Product</button>
    <button *ngIf="isAdmin" type="button" (click)="save()">save</button>

    
    <template>
        <div id="alert" class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Item was added to cart!
        </div>
    </template>
</section>