<form action="action_page.php" method="post">

  <div class="container">

    <div class="imgcontainer">
      <img src="https://cdn.discordapp.com/attachments/953448026800799865/1092854047440121957/Untitled-removebg-preview.png" alt="Avatar" class="avatar">
    </div>

    <div *ngIf="!user">
      <label for="Log-in">Username: </label>
      <input type="text" placeholder="Enter Username" name="uname" required id="username" #userName >

      <button type="button" (click)="add(userName.value); userName.value=''">Login</button>
    </div>
  </div>

  <div *ngIf="user">
    <label for="Log-in">Username: </label>
    <label>{{user.username}}</label>
    <button type="button" (click)="logout()">
      Log-out
    </button>  
  </div>

</form>